# Data Science Tools and Ecosystem

**Objectives:**
- List of popular languages
- Commonly used llibraries
- Data science tools
- Math equation

### this is for final assignment regarding data science tools and ecosystem

### Some of the popular languages that Data Scientists use are
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include
1. ggplot2
2. numpy
3. pandas

|Data Science Tools|
|----|
|Jupyter Notebook|
|Rstudio|
|Apache Spark

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Joel Taveras